<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<h1><%= title %></h1>
<p>Declaro por meio deste a participação de <%= receiver %>, DRE <%= dre %>, da palestra <%= reason %></p>
<%= wicked_pdf_stylesheet_link_tag "pdf" -%>
<style>
body {
  background-image: url("file://<%= event.cert_background_url %>");
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
